RABBITMQ_HOST=trabajos-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=trabajos
RABBITMQ_PASSWORD=trabajos123
RABBITMQ_QUEUE=job_events
RABBITMQ_PREFETCH_COUNT=5

PYTHON_API_URL=http://trabajos-backend-python:8000
THREAD_POOL_SIZE=5
INTERNAL_API_KEY=dev-internal-key

JAVA_CONSUMER_NETWORK=sistema-trabajos-informales_default
